*{
    margin: 0;
    padding: 0;
    font-family: ;
}
:root{
    --bluewire:#03658C;
    --yellowwire: #F2B705;
    --orangewire:#F29F05;
    --sunwire: #f28705;
    --redwire: #A62014;
    --white: rgb(255,255,255);
}
.bg-light{
    background-color: var(--bluewire) !important;
}

.btn-outline-success{
    color: var(--yellowwire);
    border-color: var(--yellowwire);

}

.btn-outline-success:hover{
    color: var(--yellowwire);
    background-color: var(--yellowwire);
    border-color: var(--yellowwire);
}

h1{
    font-family: 'Architects Daughter', cursive;
}
.jumbotron{
    background image: url('../images/image1.jpg');
    height: 50px;
    background-size: cover;
    background-position: center;
    color: #fffff;
    border-radius: 0px!important;
}
.jumbotron h1{
    margin: 30px 0;
    font-size: 30px;
    line-height: 1.5;
}

img{
    width: 100%;
}

.intro{
    padding-top: 20px;
}

